<html>

<body style="font-family: 'Montserrat', sans-serif;">
    <div class="position-relative overflow-hidden p-3 p-md-3 m-md-1 text-center bg-body-tertiary">
        <div class="col-md-6 p-3 mx-auto my-3">
            <h1 class="display-4 fw-bold">All your issues resolved</h1>
            <h4 class="fw-normal text-muted mb-3">Get access to the faculty of school of computing and electronics for the projects you want help with.</h4>
        </div>
        <div class="product-device shadow-sm d-none d-md-block" style="width: 50px;"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block" style="width: 50px;"></div>
    </div>
    
    <div class="container">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-2 text-center mx-auto">
            <div class="text-bg-dark me-md-3 pt-1 px-3 pt-md-3 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-1">
                    <h2 class="display-5">Didn't manage Attendance?</h2>
                    <p class="lead">Get your latest attendance records at the hand.</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="https://blogimages.softwaresuggest.com/blog/wp-content/uploads/2019/05/08185844/10-Best-Time-and-Attendance-Software.png" style="height: 300px;width: 100%;border-radius: 21px 21px 0 0">
                </div>
            </div>
            <div class="bg-body-tertiary me-md-3 pt-1 px-3 pt-md-2 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-1">
                    <h2 class="display-5">Digital Library</h2>
                    <p class="lead">Read thousand and thousand more books from your room.</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="https://img.freepik.com/free-vector/distance-course-isometric_98292-7151.jpg?size=626&ext=jpg" style="height: 300px;width: 100%;border-radius: 21px 21px 0 0">
                </div>
            </div>
        </div>
    </div>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
