<main>
    <link rel="stylesheet" href="Home.css">
    <div class="image" style="margin-left:19%; ">
        <img src="https://iiitu.ac.in/wp-content/uploads/2022/01/1logo-una.png">
    </div>
    <div class="marg"><ul class="cards">
        <li>
          <a href="/hostel" class="card">
            <img src="https://iiitu.ac.in/wp-content/uploads/2023/07/6.-Chitagni-Hostel-scaled.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                <div class="card__header-text">
                  <h3 class="card__title" style="font-family: 'Montserrat', sans-serif;">HOSTEL</h3>            
                </div>
              </div>
              <p class="card__description" style="font-family: 'Montserrat', sans-serif;">Choose this option for hostel issues.</p>
            </div>
          </a>      
        </li>
        <li>
          <a href="/academics" class="card">
            <img src="https://iiitu.ac.in/wp-content/uploads/2022/02/IMG_054-scaled.jpg" class="card__image" alt="" />
            <div class="card__overlay">        
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                <div class="card__header-text">
                  <h3 class="card__title" style="font-family: 'Montserrat', sans-serif;">ACADEMICS</h3>
                </div>
              </div>
              <p class="card__description" style="font-family: 'Montserrat', sans-serif;">Choose this option for Academic issues.</p>
            </div>
          </a>
        </li>
    </ul></div>
    

<main>

