
<main>
   
    <link rel="stylesheet" href="Machine.css">
    
    <div class="container">
        <h2 class="head" style="font-family: 'Montserrat', sans-serif;">Booking Form</h2>

        <form action="/submit" method="post">
           
            <input type="text" id="name" name="name"  placeholder="Name" required>
            <input type="number" id="roll" name="roll"  placeholder="Roll No." required>
            <input type="number" id="room" name="room"  placeholder="Rooom No." required>
            <input type="number" id="time" name="time" placeholder="Time-Required" required>
            <input type="number" id="phone" name="phone" minlength="10" maxlength="10" placeholder="Enter 10-digit phone number" required>

            <button type="submit" style="font-family: 'Montserrat', sans-serif;">Submit</button>
        </form>
    </div>

    <%- include('sidebar.ejs')%>
    </main>
</body>
</html>