<main>
    <link rel="stylesheet" href="New.css">
    <section class="app">
        <aside class="sidebar">
            <a href="/home">
            <header class="header">
               <i class="arrow left"></i>
                Hostel Problems
            </header>
        </a>
        </div>
            <nav class="sidebar-nav">
                <ul>
                    <li>
                        <a href="#"><i class="ion-ios-settings"></i> <span style="font-family: 'Montserrat', sans-serif;">Wasing Machine</span></a>
                        <ul class="nav-flyout">
                            <li>
                                <a href="/machine"><i class="ion-ios-color-filter-outline"></i>Book a slot</a>
                            </li>
                            <li>
                                <a href="/machineStatus"><i class="ion-ios-clock-outline"></i>Track the Status</a>
                            </li>
                         
                        </ul>
                    </li>
                    <li>
                        <a href="/civil"><i class="ion-ios-settings"></i> <span class="" style="font-family: 'Montserrat', sans-serif;">Civil Complains</span></a>
                        <ul class="nav-flyout">
                            <li>
                                <a href="/civil"><i class="ion-ios-alarm-outline"></i>Register a Complain</a>
                            </li>
                            <li>
                                <a href="/civilStatus"><i class="ion-ios-camera-outline"></i>Track the Status</a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="/mess"><i class="ion-ios-briefcase-outline"></i> <span class="" style="font-family: 'Montserrat', sans-serif;">Mess Complain</span></a>
                        <ul class="nav-flyout">
                            <li>
                                <a href="/mess"><i class="ion-ios-flame-outline"></i>Register a Complain</a>
                            </li>
                            <li>
                                <a href="/messStatus"><i class="ion-ios-lightbulb-outline"></i>Track the Status</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="ion-ios-analytics-outline"></i> <span class="" style="font-family: 'Montserrat', sans-serif;">Application For Leave</span></a>
                        <ul class="nav-flyout">
                            <li>
                                <a href="/leave"><i class="ion-ios-timer-outline"></i>Hostel Leave</a>
                            </li>
                            <li>
                                <a href="/leaveStatus"><i class="ion-arrow-graph-down-left"></i>Track the Status</a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                   
                   
                       
                   
                </ul>
            </nav>
        </aside>
    </section>
<main>

